<div class="header">
  <div class="header_container d-flex align-items-center">
  <div><img src="./assets/img/logo-header.svg" alt="logo" height="87px" width="100px" /></div>
  <div class="w-75 d-flex justify-content-around menu">
    <a class="menuLink" href="/usure">USURE</a>
    <a class="menuLink" href="/reference">REFERENCE</a>
  </div>
  <div style="min-width: 250px;"><button class="mainButton">NOUS CONTACTER</button>
    <img src="./assets/img/GB.svg" alt="logo" height="24px" width="24px" class="ms-3" />
  </div>
</div>
</div>